body {
	color: #fff;
	margin: 0;
}

.content {
	width: 1024px;
	display: flex;
	margin: 0 auto;
	color: #635f57;
}

.sidebar {
	width: 236px;
	background: #ccc;
}
.catalog {
	width: 760px;
	margin-right: 26px;
}
.catalog__wrapper {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}

.catalog__wrapper:before {
	content: "";
}

.catalog__wrapper:after {
	content: "";
	display: block;
	width: 236px;
	height: 0;
}

.catalog__item {
	width: 234px;
	height: 318px;
	border: 1px solid #000;
	background: #ccc;
	margin-right: 26px;
	margin-bottom: 26px;
}

.catalog__item:nth-child(3n) {
	margin-right: 0;
}

.blue-line {
	background: #4cb1ca;
	height: 43px;
	display: flex;
	align-items: center;
}

.blue-line__wrapper {
	width: 1024px;
	margin: 0 auto;
	display: flex;
}

.blue-line__menu {
	margin-left: auto;
}

.side-menu__list {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	font-size: 13px;
	line-height: 13px;
}

.side-menu__item {
	padding: 0 15px;
	border-right: 1px solid #fff;
}

.side-menu__item a {
	color: inherit;
	text-decoration: none;
}

.side-menu__item a:hover {
	color: #8adcf0;
}

.side-menu__item:first-child {
	padding-left: 0;
}

.side-menu__item:last-child {
	padding-right: 0;
	border-right: 0;
}

.blue-line__filters label {
	height: 13px;
}

.slider {
	overflow: hidden;
}

.slider__content {
	padding: 0;
	display: flex;
}

.slider__item {
	position: relative;
	min-width: 100%;
}

.slider__item img {
	display: block;
	width: 100%;
}

.slider__text {
	position: absolute;
	top: 0;
	left: 20px;
}

.slider__wrapper {
	width: 1024px;
	height: 100px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	position: absolute;
}

.slider__header {
	margin: 0;
	font-size: 30px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.7);
	padding-left: 20px;
	padding-right: 30px;
	margin-bottom: 3px;
}

.slider__subheader {
	margin: 0;
	font-size: 28px;
	line-height: 50px;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.7);
	padding: 0 20px;
}

.slider__controls {
	position: absolute;
	width: 1024px;
	height: 68px;
	z-index: 9999;
	left: 50%;
	top: 50%;
	margin-left: calc(-1024px / 2);
	margin-top: calc(68px / 2);
	display: flex;
}

.slider__control {
	width: 68px;
	height: 68px;
	background: #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
}

.slider__control:hover {
	cursor: pointer;
	background-color: #7db122;
}

.slider__control_prev {
	position: relative;
	left: -67px;
	background-image: url("./static/img/arrow_prev.png");
	background-position: 24px 20px;
}

.slider__control_next {
	position: relative;
	left: 67px;
	margin-left: auto;
	background-image: url("./static/img/arrow_next.png");
	background-position: 26px 20px;
}
