body { margin: 0 }

.header_headline{
    height:50px;
    background:#4cb1ca;
    display: flex;
    margin: auto;
}
.container-top{
    display: flex;
    justify-content: space-between;
}
.headline_menu-item{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.headline_menu-item::after{
    border-right: 1px solid #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    content: "";
}
.headline_menu-item:last-child::after{
    border-right: none;
}
.herder_form{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.header_main{
    height:100px;
    background: #ffffff;
    display: flex;
    margin: auto;
}
.header_main-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_main-item{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}
.header_main-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    justify-content: space-between;
    border: none;
}
.search{
    margin-right: 30px;
    text-decoration: none;
    color: #b7b7b7;
    font-family: 'Roboto', serif;
    font-size: 13px;
    height: 30px;
    padding-left: 10px;
}
.lable{
    margin-right: 10px;
}
.basket{
    margin-right: 10px;
}
.basket-item{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: bold;
}
.header_slider{
    position: relative;
    width: 100%;
}
.header_slider img {
    width: 100%;
    height: auto;
  }
.logo{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 40px;
    font-weight: bold;
}
.logo_button{
    position: absolute;
    top: 50%;
    border: none; 
    outline: none;
    background: none;
    transform: translateY(-50%);
}
.logo_button-right{
    right: 10%;
}
.logo_button-left{
    left: 10%;
}
.product-name{
    text-decoration: none;
    color: #635f57;
    font-family: 'Roboto', serif;
    font-size: 24px;
}
.main_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.product{
    display: block;
    width: 230px;
    height: 290px;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid #eeeeee;
    margin-bottom: 25px;
}
.product-img{
    width: 100%;
}
.featuder-products{
    display: flex;
    flex-wrap: wrap;
}
.staff-pick{
    display: flex;
    justify-content: space-between;
}
.main{
    height: 2000px;
    background: #ffffff;
}.new-product{
    display: flex;
    flex-wrap: wrap;
}
.sidebar-ellipse{
    display: flex;
    justify-content: center;
}
.sidebar_text{
    text-decoration: none;
    color: #635f57;
    font-size: 24px;
    font-family: 'Roboto', serif;
    text-align: center;
}
.sidebar_text-banner{
    position: absolute;
    width: 100%;
}
.sidebar_about{
    text-decoration: none;
    color: #635f57;
    font-size: 14px;
    font-family: 'Roboto', serif;
    text-align: center;
}
.sidebar{
    position: relative;
}
.sidebar_banner{
    position: relative;
}
.sidebar_subscribe{
    border: #eeeeee;
}
.ellipse{
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.ellipse:last-child{
    margin-right: 0px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-button{
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none; 
    outline: none;
    background: #7eb123;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', serif;

}
.sidebar_subscribe{
    border: 2px solid #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-top{
    height: 120px;
    background: #4cb1ca;
    display: flex;
    align-items: center;
}
.footer-bottom{
    height: 60px;
    background: #0b4b5a;
    display: flex;
    justify-content: space-between;
}
.footer-middle{
    background: #39a0b9;
    height: 340px;
}
.facebook_faces{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.facebook{
    width: 260px;
}
.facebook_faces-face{
    margin-right: 10px;
    margin-bottom: 10px;
}
.twitter{
    width: 260px;
}
.infotmation{
    width: 260px;
}
.contact{
    width: 260px;
}
.facebook_logo{
    margin-bottom: 5px;
}
.container{
    width: 1030px;
    margin: auto;
}
.footer-middle_item{
    display: flex;
    justify-content: space-between;
}
.footer-top_item{
    display: flex;
    justify-content: space-between;
}
.shipping{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
}
.calls{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
}
.shipping_img{
    width: 65px;
    height: 65px;
}
.calls_img{
    width: 65px;
    height: 65px;
}
.shipping_text{
    margin-left: 30px;
}
.calls_text{
    margin-left: 30px;
}
.container-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text{
    text-decoration: none;
    color: #8adcf0;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.footer-bottom-text::after{
    border-right: 1px solid #8adcf0;
    margin-left: 15px;
    margin-right: 15px;
    content: "";
}
.footer-bottom-text:last-child::after{
    border-right: none;
}
.copyright_text{
    color: #8adcf0;
    font-family: 'Roboto', serif;
    font-size: 13px;
}